{
  "plugins": [
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ],
  "env": {
    "production": {
      "presets": ["env", "react", "stage-1"]
    },
    "development": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["styled-jsx/babel"]
    },
    "test": {
      "presets": ["env", "react", "stage-1"],
      "plugins": ["styled-jsx/babel"]
    }
  }
}